<?xml version="1.0" encoding="UTF-8"?>
<web-app id="sloth-rest" version="2.5" metadata-complete="true"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
         http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Sloth REST Application</display-name>

    <!--
    This context parameter is used to declare web application scope
    Springframework bean contexts.
    -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/application-context.xml WEB-INF/sloth-servlet.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--
    DEVELOPER NOTE: This declaration is used to ensure that Spring Bean Scope support is
    enabled. Do NOT disable, unless you know what your doing.
    -->
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>sloth</servlet-name>
        <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>managed</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>sloth</servlet-name>
        <url-pattern>sloth/*</url-pattern>
    </servlet-mapping>

</web-app>
